*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

.selective-text {
	display: inline;
	user-select: text;
	cursor: text;
	padding: 8px;
}

.centre-grid-box {
	height: 100%;
	width: 100%;

	display: grid;
	place-items: center;
}
